/* CSS Document */
body{
background-image:url("trat_pozadi_web.jpg");
background-size:cover;
background-position: center top;
background-attachment:fixed;
height:7000px;
z-index: -2;
}

/*scrollbar*/



/*uplny uvodni obrazek; vymenit treba za uvodni fotku udalosti na fb ale do cernobile nebo nejak upravit aby se to hodilo*/
#prvni{
width:auto;
height:100vh;
position:relative;
margin:-8px -8px 0px -8px;

background-image:url("vzorek_pozadi_web.png");
background-position: center;
background-size: cover;
}
/*pruhledny div na pozadi; dopsat text*/
#program{
background-color:white;
width:auto;
height:100vh;
margin:0px -8px 0px -8px;
position:relative;
text-align:center;
background-color: rgba(255, 255, 255, 0.5);
}
/*sloupce programu*/
.program-split{
width:50%;
display:inline-block;
height:auto;
background-color:none;
margin:0px -2px;
text-align: center;
}
.program-ul{
list-style-type:none;
text-align:left;
float:left;

margin-top: 0px;
margin-bottom: 15px;
padding-left: 70px;
}
.program-li{
font-size:25px;
font-family: 'Roboto', monospace;
color:black;
padding-top:10px;
}

/*dva hlavni intepreti; pozadi jejich obrazek; nejaky lepsi*/
#druhy{
width:auto;
height:50vh;
/*background-image:url("vneumicky.jpg");*/
/*background-position: -10% 0%;*/
margin:0px -8px 0px -8px;
position:relative;
}
#treti{
width:auto;
height:50vh;
/*background-image:url("tri.jpeg");*/
margin:0px -8px 0px -8px;
position:relative;
}
/*cernobile prouzky ostatnich interpetu*/
#ostatni{
width:auto;
/*height:1080px;*/
/*margin:0px -8px 0px -8px;*/
position:static;
}
.line{
width:auto;
height:25vh;
overflow-y: hidden;
margin-left:-8px;
margin-right:-8px;
padding-left: 70px;
padding-right: 70px;
}

#lineL{
display: inline;
float: left;
position: relative;
margin-top: 75px;
margin-bottom: 0px;
}

#lineR{
display: inline;
float: right;
position: relative;
margin-top: 75px;
margin-bottom: 0px;
}

.line_artist_detail_L{
position: relative;
width:auto;
height:50vh;
margin-left:-8px;
margin-right:-8px;
padding-left: 70px;
}

.line_artist_detail_R{
position: relative;
width:auto;
height:50vh;
margin-left:-8px;
margin-right:-8px;
padding-right: 70px;
}

.line_artist_detail_picture{
position: absolute;
display: inline;
height: 50vh;
width: 40%;

background-size: cover;
background-position: center;
}

.line_artist_detail_info{
position: absolute;
display: inline;
height: 50vh;
width: 60%;
}

.webLinkL{
position: absolute;
left: 15px;
bottom: 15px;
height: 40px;
width: 40px;    
}

.webLinkR{
position: absolute;
right: 15px;
bottom: 15px;
height: 40px;
width: 40px;    
}

/*rozdeleni u dvou hlavnich interpretu; domyslet responzivitu*/
/*zmenit sirku z px na % kvuli responzivite*/
.leva{
clip-path: polygon(0 0, 50% 0, 60% 100%, 0% 100%);
height:100%;
left:0px;
width:100%;
background-color:white;
display:inline-block;
text-align:center;

}
.prava{
clip-path: polygon(40% 0, 100% 0, 100% 100%, 50% 100%);
height:100%;
width:100%;
right:0px;
background-color:white;
display:inline-block;
float:right;
text-align:center;
}

/*tabulka zbylych autoru*/
#tabulka{
position: static;
width: auto;
height: 100vh;
margin-left: -8px;
margin-right: -8px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 50vh 50vh;
}

.tabUmelecB{
position: relative;
background-color: black;
}

.tabUmelecW{
position: relative;
background-color: white;
}

.tabObrazek{
position: absolute;
width: 100%;
height: 50%;
bottom: 0px;

background-position: center;
background-size: cover;
}

.tabText{
position: absolute;
width: 100%;
height: 50%;
top: 0px;
}

#tabJmeno{
text-align:left;
padding-left: 15px;
margin-top: 75px;
}

#tabDruh{
text-align: right;
position: absolute;
margin-bottom: 0px;
bottom: 15px;
right: 15px;
}
#film-nazev{
width:auto;
height:240px;
margin:0px -8px 0px -8px;
position:relative;
}

.film-line{
height:240px;
width:641px;
background-color: red;
margin:0px -2px;
display: inline-block;
position:relative;
text-align: center;
vertical-align: middle;
padding-top:75px;
line-height: 50px;
}
.film-line-detail{
height:480px;
width:641px;
margin:0px -2px;
background-color:blue;
display: inline-block;
position:relative;
padding-top:75px;
text-align:center;
}
#film-detail{
height:480px;
width:auto;
margin:0px -8px 0px -8px;
position:relative;
}
#divadlo{
width:auto;
height:200px;
margin:0px -8px 0px -8px;
position:relative;
}
.theater-line{
width:960.5px;
height:200px;
display:inline-block;
margin:0px -2px;
background-color:orange;
position:relative;
text-align: center;
vertical-align: middle;
padding-top:75px;
line-height:75px;

}


/*Vrchni odkazy*/
.menu#vrchni{
    list-style-type: none;
    position:fixed;
    margin: 0;
    padding: 0;
    float:right;
    width:100%;
    z-index:3;

    background-color: rgba(255, 255, 255, 0.8);
}
.menu#odkazy {
    display:inline-block;
    /*width: 200px;*/
    height:70px;
    padding-right:15px;
    padding-left:15px;
    float:right;
    z-index:3;

    font-family: 'Krona one', sans-serif;
    font-size:30px;
    line-height:70px;
    text-align: center;
}
/*vsechen text krome odkazu na vrchu*/
.nadpis{
font-family: 'Krona one', monospace;
color:black;
font-size: 50px;
text-transform: uppercase;
}

.nadpis12{
font-family: 'Krona one', monospace;
color:black;
font-size: 35px;
text-transform: uppercase;
}

.nadpis2{
font-family: 'Krona one', monospace;
color:black;
font-size: 25px;
text-transform: uppercase;
}

.nadpis3{
font-family: 'Krona one', monospace;
color:black;
font-size: 15px;
text-transform: uppercase;
}

.text{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: 25px;
    text-align:justify;
}
/*text v cernych prouzcich seznamu interpretu*/
.nadpisW{
font-family: 'Krona one', monospace;
color:white;
font-size:50px;
text-transform: uppercase;
}

.nadpisW12{
font-family: 'Krona one', monospace;
color:white;
font-size: 35px;
text-transform: uppercase;
}

.nadpisW2{
font-family: 'Krona one', monospace;
color:white;
font-size: 25px;
text-transform: uppercase;
}

.nadpisW3{
font-family: 'Krona one', monospace;
color:white;
font-size: 15px;
text-transform: uppercase;
}

.textW{
font-family: 'Roboto', sans-serif;
color:white;
font-size: 25px;
text-align:justify;
}


#gallery-container{
width:auto;
height:1080px;
margin:0px -8px 0px -8px;
position:absolute;
bottom:0px;
top:9000px;
}

#gallery{
 list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
    width:200px;
    opacity:1;
}
.gal{
display:inline-block;
width:200px;
height:200px;
opacity:1;
}
.gal-img{
width:200px;
height:200px;
}
#gallery-full{
height:1000px;
width:1720px;
float:right;
background-color:red;
margin:0px 0px 0px 0px;
}

#kontakty{
position: relative;
bottom: 0px;
height: 100vh;
width: auto;
margin: 0px -8px 0px -8px;
}

.kontDiv{
display: grid;
position: absolute;
width: 100%;
height: 40%;
bottom: 0px;
grid-template-rows: auto 130px;

background-image:url("vzorek_pozadi_web.png");
background-position: center;
background-size: cover;
}

.kontInfo{
 width: 100%
     
}

.kontPartneri{
display: grid;
position: absolute;
width: 100%;
height: 100px;
bottom: 0px;
grid-template-columns: repeat(5, 1fr);

background-color: rgba(255, 255, 255, 0.8);
}

.kont1Par{
text-align: center;
padding: 10px 0 10px 0;
}

.kontParObr{
width: auto;
height: 80px;
}

a:link{
color:black;
}
a:visited{
color:black;
}
a:active{
color:black;
}
a{
text-decoration:none;
}
#home-button{
 float:left;
width:auto;
height:50px;
margin-top:10px;
margin-left:15px;
z-index:3;
position:fixed;
}
