/* CSS Document */
body{
    position: absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;
/*background-image:url("trat_pozadi_web.jpg");
background-size:  cover !important;
background-position: 50% 50% !important;
background-attachment:fixed !important;
/*height:100%;
width: 100%;*/
z-index: -2;
overflow-y: scroll;
overflow-x: hidden;
}

#pozadi{
position: fixed;
width: 100%;
height: 100vh;
background-image: url("trat_pozadi_web.jpg");
background-size:  cover !important;
background-position: 50% 50%;
margin: -8px;
z-index: -1;
}

/*uplny uvodni obrazek; vymenit treba za uvodni fotku udalosti na fb ale do cernobile nebo nejak upravit aby se to hodilo*/
#prvni{
width:auto;
height:100vh;
position:relative;
margin:-8px -8px 0px -8px;

background-image:url("vzorek_pozadi_web.png");
background-position: center;
background-size: cover;
}

#zaklInfo{
    position: absolute;
    display: inline-block;
    z-index: 1;
    width: 100%;
    height: 50px;
    margin-top: 70px;

    background-color: rgba(255, 255, 255, 0.8);
}

#zaklInfoL{
display: inline;
                  float: left;
                  margin-left: 15px;
                  margin-top: 10px;
                  margin-bottom: 10px;    
}

#zaklInfoR{
display: inline;
                   float: right;
                   margin-right: 15px;
                   margin-top: 10px;
                   margin-bottom: 10px;    
}

#info{
position: absolute;
top:120px;
bottom: 100px;
width: 100%;
/*overflow-x: hidden;*/    
}

#infoText{
display: block;
              position: absolute;
              /*top: 120px;*/

              margin-top: 0px;
              margin-left: 55px;
              margin-right: 35%;
              /*! max-height: 100%; */
              padding-left: 15px;
              padding-right: 15px;
              overflow: auto;
              z-index: 1;

              background-color: rgba(255, 255, 255, 0.8);

              text-align: justify;
}

#hithitCont{
position: absolute;
                display: grid;
                grid-template-columns: 150px auto 150px;
                text-align: center;
                bottom: 0px;
                width: 100%;
                height: 100px;

                background-color: rgb(96, 217, 249);    
}

#hithitImg{
position: relative;
                    float: right;
                    height: 80px;
                    width: auto;
                    margin: 10px 15px;
}

#hithit{
display: inline;
                  position: relative;
                  margin-top: 0px;
                  overflow-x: hidden;

                  text-align: center;
                  line-height: 100px;

                  color: white;
}

.perner{
display:inline;
position: absolute;
z-index: 0;
right: 0px;
bottom: 0px;

height: 115%;
width: auto;    
}
/*pruhledny div na pozadi; dopsat text*/
#program{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 140px auto;
grid-template-areas: "nadp nadp"
                     "splitL splitR";
width:auto;
height:auto;
margin:0px -8px 0px -8px;
position:relative;
text-align:center;
background-color: rgba(255, 255, 255, 0.65);
}

#progNadpis{
display: block;
position: relative;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 70px;
}
/*sloupce programu*/
.program-split{
width:100%;
display:inline-block;
height:auto;
background-color:none;
/*! margin:0px -2px; */
text-align: center;
}
.program-ul{
list-style-type:none;
text-align:left;
float:left;

margin-top: 15px;
margin-bottom: 15px;
padding-left: 70px;
}
.program-li{
font-size:25px;
font-family: 'Roboto', monospace;
color:black;
padding-bottom:10px;
}

/*dva hlavni intepreti; pozadi jejich obrazek; nejaky lepsi*/
#druhy{
width:auto;
height:50vh;
margin:0px -8px 0px -8px;
position:relative;
}

#druhyPoz{
display: inline;
position: absolute;
left: 0px;
height: 100%;
width: 50%;
z-index: -1;

background-image:url(vneumicky_web.jpg);
background-position: center;
background-size: cover;      
}

#druhyStyl{
float:left;
margin-left:50%;
margin-top:86px;
display: inline;    
}

#druhyJmeno{
float:right;
margin-right:70px;
margin-top:70px;
display: inline;    
}

#druhyText{
position: absolute;
margin-right: 70px;
margin-top: 140px;
margin-left: 50%    
}

#treti{
width:auto;
height:50vh;
margin:0px -8px 0px -8px;
position:relative;
}

#tretiPoz{
display: inline;
position: absolute;
right: 0px;
height: 100%;
width: 50%;
z-index: -1; /*zde nutny*/ 

background-image:url(market_web.jpg);
background-position: center;
background-size: cover;      
}

#tretiStyl{
float: right;
margin-right: 50%;
margin-top:86px;
display: inline;    
}

#tretiJmeno{
float: left;
margin-left: 70px;
margin-top:70px;
display: inline;    
}

#tretiText{
position: absolute;
margin-left: 70px;
margin-top: 140px;
margin-right: 50%    
}

/*cernobile prouzky ostatnich interpetu*/
#ostatni{
width:auto;
/*height:1080px;*/
/*margin:0px -8px 0px -8px;*/
position:static;
}
.line{
width:auto;
height:25vh;
overflow-y: hidden;
margin-left:-8px;
margin-right:-8px;
padding-left: 70px;
padding-right: 70px;
position: relative;
}

#lineL{
display: inline;
float: left;
position: relative;
margin-top: 75px;
margin-bottom: 0px;
}

#lineLStyl{
display: inline;
float: left;
position: relative;
margin-top: 91px;
margin-bottom: 0px;
}

#lineR{
display: inline;
float: right;
position: relative;
margin-top: 75px;
margin-bottom: 0px;
}

#lineRStyl{
display: inline;
float: right;
position: relative;
margin-top: 91px;
margin-bottom: 0px;
}

.line_artist_detail_L{
position: relative;
width:auto;
height:50vh;
margin-left:-8px;
margin-right:-8px;
padding-left: 70px;
}

.line_artist_detail_R{
position: relative;
width:auto;
height:50vh;
margin-left:-8px;
margin-right:-8px;
padding-right: 70px;
}

.line_artist_detail_picture{
position: absolute;
display: inline;
height: 50vh;
width: 40%;

background-size: cover;
background-position: center;
}

.line_artist_detail_info{
position: absolute;
display: inline;
height: 50vh;
width: 60%;
}

#line_artist_detail_text{
margin-top: 15px;
padding-left: 70px;
padding-right: 70px;
}

.webLinkL{
position: absolute;
left: 15px;
bottom: 15px;
height: auto;
width: auto;
}

.webLinkR{
position: absolute;
right: 15px;
bottom: 15px;
height: auto;
width: auto;
}

.webLinkImg{
height: 40px;   
}

.ilegum500{
display: none !important;
}

/*rozdeleni u dvou hlavnich interpretu; domyslet responzivitu*/
/*zmenit sirku z px na % kvuli responzivite*/
.leva{
clip-path: polygon(0 0, 50% 0, 60% 100%, 0% 100%);
height:100%;
left:0px;
width:100%;
background-color:white;
display:inline-block;
text-align:center;

position: relative;
}
.prava{
clip-path: polygon(40% 0, 100% 0, 100% 100%, 50% 100%);
height:100%;
width:100%;
right:0px;
background-color:white;
display:inline-block;
text-align:center;
position: relative;
}

/*tabulka zbylych autoru*/
#tabulka{
position: static;
width: auto;
height: 100vh;
margin-left: -8px;
margin-right: -8px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 50vh 50vh;
}

.tabUmelecB{
position: relative;
background-color: black;
}

.tabUmelecW{
position: relative;
background-color: white;
}

.tabObrazek{
position: absolute;
width: 100%;
height: 50%;
bottom: 0px;

background-position: center;
background-size: cover;
}

.tabText{
position: absolute;
width: 100%;
height: 50%;
top: 0px;
}

#tabJmeno{
text-align:left;
padding-left: 15px;
margin-top: 75px;
}

#tabDruh{
text-align: right;
position: absolute;
margin: 0px;
bottom: 15px;
right: 15px;
}
#film-nazev{
width:auto;
height:240px;
margin:0px -8px 0px -8px;
position:relative;
}

.film-line{
height:240px;
width:641px;
background-color: red;
margin:0px -2px;
display: inline-block;
position:relative;
text-align: center;
vertical-align: middle;
padding-top:75px;
line-height: 50px;
}
.film-line-detail{
height:480px;
width:641px;
margin:0px -2px;
background-color:blue;
display: inline-block;
position:relative;
padding-top:75px;
text-align:center;
}
#film-detail{
height:480px;
width:auto;
margin:0px -8px 0px -8px;
position:relative;
}
#divadlo{
width:auto;
height:200px;
margin:0px -8px 0px -8px;
position:relative;
}
.theater-line{
width:960.5px;
height:200px;
display:inline-block;
margin:0px -2px;
background-color:orange;
position:relative;
text-align: center;
vertical-align: middle;
padding-top:75px;
line-height:75px;

}


/*Vrchni odkazy*/
.menu#vrchni{
    list-style-type: none;
    position:fixed;
    margin: 0;
    padding: 0;
    float:right;
    width:100%;
    z-index:3;

    background-color: rgba(255, 255, 255, 0.8);
}
.menu#odkazy {
    display:inline-block;
    /*width: 200px;*/
    height:70px;
    padding-right:15px;
    padding-left:15px;
    float:right;
    z-index:3;

    font-family: 'Krona one', sans-serif;
    font-size:30px;
    line-height:70px;
    text-align: center;
}

#logo_trat{
height:50px;
width:auto;
opacity:1;
z-index:3;    
}

#menu_mobile{
position: relative;
top:0px;
display: none;
width: 100%;
grid-template-rows: repeat(5, 30);

background-color: rgba(255, 255, 255, 0.8);
}

.menu_mobileItem{
font-family: 'Krona one', sans-serif;
font-size:15px;
line-height:30px;
text-align: left;
margin: 0px;
padding-left: 15px;
}
/*vsechen text krome odkazu na vrchu*/
.nadpis{
font-family: 'Krona one', monospace;
color:black;
font-size: 50px;
text-transform: uppercase;
}

.nadpis12{
font-family: 'Krona one', monospace;
color:black;
font-size: 35px;
text-transform: uppercase;
}

.nadpis2{
font-family: 'Krona one', monospace;
color:black;
font-size: 25px;
text-transform: uppercase;
}

.nadpis3{
font-family: 'Krona one', monospace;
color:black;
font-size: 15px;
text-transform: uppercase;
}

.text{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: 25px;
    text-align:justify;
}
/*text v cernych prouzcich seznamu interpretu*/
.nadpisW{
font-family: 'Krona one', monospace;
color:white;
font-size:50px;
text-transform: uppercase;
}

.nadpisW12{
font-family: 'Krona one', monospace;
color:white;
font-size: 35px;
text-transform: uppercase;
}

.nadpisW2{
font-family: 'Krona one', monospace;
color:white;
font-size: 25px;
text-transform: uppercase;
}

.nadpisW3{
font-family: 'Krona one', monospace;
color:white;
font-size: 15px;
text-transform: uppercase;
}

.textW{
font-family: 'Roboto', sans-serif;
color:white;
font-size: 25px;
text-align:justify;
}


/*galerie*/

.gallery{
height:100vh;
width:100vw;
position:relative;
}
.mySlides{
height:100vh;
width:100vw;
position:relative;
display:none;
}
#first-slide{
display:block;
}
.left-button{
height:7.5%;
width:5%;
background-color:#CCCBCB;
border:none;
opacity:0.95;
position:absolute;
top:46.25%;
bottom:46.25%;
}
.right-button{
height:7.5%;
width:5%;
background-color:#CCCBCB;
border:none;
opacity:0.95;
position:absolute;
top:46.25%;
bottom:46.25%;
left:95%;
}
/*konec galerie*/
#kontakty{
position: relative;
bottom: 0px;
height: 100vh;
width: auto;
margin: 0px -8px -8px -8px;
}

.kontDiv{
display: grid;
position: absolute;
width: 100%;
height: 100%;
bottom: 0px;
grid-template-rows: auto 30px 100px 30px;

background-image:url("vzorek_pozadi_web.png");
background-position: center;
background-size: cover;
}

.kontInfo{
 width: 100%;
 height:   auto;
position: absolute;
 bottom: 130px;
 top: 0px;
 display: grid;
 grid-template-columns: 50% 50%;
}

#kontInfoColumn{
display: grid;
grid-template-rows: auto auto auto;
grid-template-columns: 50% 50%;
grid-template-areas: "kontNad kontNad"
                     "kontText kontText"
                     "kontMediaL kontMediaR";
position: relative;
}

#kontInfoNad{

    text-align: center;
    margin: 0px;
    padding-top: 70px;
    background-color: rgba(255,255,255,0.8);
}

.kontInfoMedia{
    
    height: 100px;
    text-align: center;
    /*! padding: -10px; */
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.kontInfoIkona{

    height: 80px;
    margin: 10px;
}

#kontMapa{
/*! position: absolute; */
/*! height: 100%; */
/*! width: 100%; */
/*! padding-left: 15px; */
/*! right: 0px; */
background-image: url(trat_mapa_web.jpg);
background-size: 100%;
background-position: center;
}

#kontParNad{
position: absolute;
bottom: 100px;
height: 30px;
width: 100%;

background-color: rgba(255, 255, 255, 0.8);
}

#kontParText{
margin: 0 0 0 15px;
line-height: 30px;
}

.kontPartneri{
display: grid;
position: absolute;
width: 100%;
height: 100px;
bottom: 0px;
grid-template-columns: repeat(5, 1fr);

background-color: rgba(255, 255, 255, 0.8);
grid-template-rows: 100px;
}

.kont1Par{
text-align: center;
padding: 10px 0 10px 0;
}

.kontParObr{
width: auto;
height: 80px;
}

#D29{
padding-left: 10px;
padding-right: 10px;
}

#offcity{
height: 22px;
padding: 29px 0 29px 0;
}

#copyright{

    height: 50px;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /*! color: #d9d9d9 !important; */
}

#copyL{
    
    float: left;
    line-height: 50px;
    margin: 0px;
    padding-left: 15px;
    color: #666666 !important;
}

#copyR{
    
    float: right;
    line-height: 50px;
    margin: 0px;
    padding-right: 15px;
    color: #666666 !important;
}

a:link{
color:black;
}
a:visited{
color:black;
}
a:active{
color:black;
}
a{
text-decoration:none;
}
#home-button{
 float:left;
width:auto;
height:50px;
margin-top:10px;
margin-left:15px;
z-index:3;
position:fixed;
}


@media(max-width:1550px){
.nadpisW{
font-size:30px;
}
.nadpis{
font-size:30px;
}
.nadpis2{
font-size:15px;
}
.nadpisW2{
font-size:15px;
}

}

@media(max-width:1250px){
.menu#odkazy{
font-size:22px;
}
.kontParObr{
height:50px;
padding-top: 15px;
padding-bottom: 15px;
}
}
@media(max-width:1050px){
.menu#odkazy{
font-size:18px;
}
.program-li{
font-size:20px;
}
.nadpisW{
font-size:25px;
}
.nadpis{
font-size:25px;
}
.nadpis2{
font-size:12px;
}
.nadpisW2{
font-size:12px;
}
.text{
font-size:20px;
}
.textW{
font-size:20px;
}
.nadpisW3{
font-size:12px;
}
.nadpisW12{
font-size:20px;
}
.nadpis12{
font-size:20px;
}
.nadpis3{
font-size:12px;
}
}
@media(max-width:900px){
.menu#odkazy{
font-size:14px;
}
.nadpisW{
font-size:20px;
}
.nadpis{
font-size:20px;
}
}
@media handheld, (max-width:735px), handheld and (orientation: landscape){

#pozadi{
}

    
.nadpis{
font-size:15px;
}
.nadpisW{
font-size:15px;
}
.menu#odkazy{
font-size:10px;
}
.program-li{
font-size:17px;
}
.perner{
height:125%;

right: -125px;
}
.text{
font-size:18px;
}

#prvni{
height: auto;
display: grid;
grid-template-rows:40px 30px auto 100px;
}

.menu#odkazy{
height: 40px;
line-height: 40px;
}

#home-button{
margin-top: 5px;
height: 30px;        
}

#logo_trat{
height: 30px;        
}

#zaklInfo{
height: 30px;
margin-top: 0px;    
position: relative;
}

#info{
position: relative;
height: auto;
top:initial;
bottom: initial;
overflow-x: hidden;
}

#infoText{
position: relative;
/*! height: 100%; */
margin-bottom: 0px;
margin-left: 20px;
padding: 10px;
}

#hithitImg{
height: 50px;
margin: 25px 0px;
}

#hithit{

    /*! line-height: 50px; */
}

#hithitCont{

    grid-template-columns: 100px auto 100px;
}

#program{
height: auto;
grid-template-rows: 80px auto;
}

#progNadpis{

    padding-top: 45px;
    font-size: 25px;
    /*! line-height: 25px; */
}

#progSplitNad{
margin: 0px;
font-size: 20px;
line-height: 20px;
}

.program-ul{
margin: 15px;
padding: initial;
}

#druhy{
height:100vh;
}

#druhyPoz{
z-index: unset;
}

#druhyStyl{
margin:45px 0px 0px 50%;
line-height: 18px;
}

#druhyJmeno{
margin-right:15px;
margin-top:45px;
font-size: 18px;
line-height: 18px;
}

#druhyText{
top: 68px;
bottom: 15px;
margin-right: 55px;
margin-top: 0px;
margin-bottom: 0px;
overflow-y: scroll;
}

#treti{
height:100vh;
}

#tretiPoz{
z-index: unset;
}

#tretiStyl{
margin: 45px 50% 0px 0px;
line-height: 18px;
}

#tretiJmeno{
margin-left: 15px;
margin-top: 45px;
font-size: 18px;
line-height: 18px;
}

#tretiText{
top: 68px;
bottom: 15px;
margin-left: 55px;
margin-top: 0px;
margin-bottom: 0px;
overflow-y: scroll;
}

.webLinkL{
bottom: unset;
top: calc(50% - 15px);
}

.webLinkR{
    bottom: unset;
    top: calc(50% - 12.5px);
}

.webLinkImg{
height: 25px;   
}

.line{
padding-left: 15px;
padding-right: 15px;
}

#lineL{
margin-top: 45px;
margin-bottom: 0px;
font-size: 18px;
line-height: 18px;
}

#lineLStyl{
margin-top: 45px;
line-height: 18px;
}

#lineR{
margin-top: 45px;
margin-bottom: 0px;
font-size: 18px;
line-height: 18px;
}

#lineRStyl{
margin-top: 45px;
line-height: 18px;
}

.line_artist_detail_L{
height:75vh;
padding-left: 15px;
}

.line_artist_detail_R{
height:75vh;
padding-right: 15px;
}

.line_artist_detail_picture{
height: 75vh;

}

.line_artist_detail_info{
height: 75vh;
}

#line_artist_detail_text{
position: absolute;
top: 15px;
bottom: 15px;
left: 55px;
right: 55px;
overflow-y: scroll;
margin: 0px;
padding-left: unset;
padding-right: unset;
}

#tabulka{
height: 150vh;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 50vh);
}

#tabJmeno{
text-align:left;
padding-left: 15px;
margin-top: 45px;
font-size: 18px;
line-height: 18px;
}

#kontakty{
position: relative;
bottom: 0px;
height: 100vh;
width: auto;
margin: 0px -8px -8px -8px;
}

.kontDiv{
display: grid;
position: absolute;
width: 100%;
height: 40%;
bottom: 0px;
grid-template-rows: auto 20px 60px;

background-image:url("vzorek_pozadi_web.png");
background-position: center;
background-size: cover;
}

.kontInfo{
    bottom: 80px;
}



.kont1Par{
text-align: center;
padding: 10px 0 10px 0;
}



#D29{
padding-left: 10px;
padding-right: 10px;
}

#kontMapa{
position: absolute;
height: 100%;
width: auto;
padding-left: 15px;
right: 0px;
}

#kontParNad{
bottom: 60px;
height: 20px;

}

#kontParText{
line-height: 20px;
}

.kontPartneri{

    height: 60px;
    grid-template-rows: 60px;
}

.kontParObr{
height:40px;
padding-top: 0px;
padding-bottom: 0px;
}

#offcity{
height: 14px;
padding: 13px 5px 13px 0px;
}

#copyright{

}

#copyL{
    
    font-size: 15px;
}

#copyR{
    
    font-size: 15px;
}

}

@media handheld, (max-width:500px) and (orientation: portrait){

#pozadi{
    background-position: 17% 50%;
}
    
    
#prvni{
height: auto;
display: grid;
grid-template-rows:40px 150px 60px auto 100px;
}
    
.menu#odkazy{display: none;
}

.menu#vrchni{
height: 40px;
text-align: center;
}

#home-button{
/*! margin-top: 5px; */
height: 30px;
position: relative;
float: initial;
margin: 5px 0px;
}

#logo_trat{
height: 30px;        
}

#menu_mobile{
display: grid;    
}

#zaklInfo{
height: 60px;
margin-top: 0px;    
position: relative;
text-align: right;
}

#zaklInfoL{
float: initial;
/*! text-align: right; */
margin: 0px 15px;
display: block;
line-height: 30px;
}

#zaklInfoR{
float: initial;
/*! text-align: right; */
margin: 0px 15px;
display: block;
line-height: 30px;
}

#info{
position: relative;
top: 0px;
/*! display: block; */
height: -webkit-calc(100vh - 250px);
height: calc(100vh - 250px);
overflow-x: hidden;
overflow-y: hidden;
}

#infoText{

    margin: 0px;
    position: absolute;
    overflow: scroll;
    display: block;
    text-align: justify;
    bottom: 0px;
    top: 0px;
    font-size: 17px;
}

.perner{
height:auto;
right:-200px;
/*! display: inherit; */
/*! position: relative; */
top: -100px;
bottom: 0px;
margin: 0px;
}

#hithitCont{

    grid-template-columns: 70px auto 70px;
}

#hithit{

    line-height: 30px;
    font-size: 10px;
    top: 20px;
    margin: 0px;
}

#hithitImg{
    
    height: 30px;
    margin: 35px 0px;
}

#program{
height: auto;
grid-template-rows: 85px auto auto;
grid-template-columns: 100%;
grid-template-areas: "nadp" "splitL" "splitR";
}

#progNadpis{

    padding-top: 45px;
    font-size: 25px;
    /*! line-height: 25px; */
    /*! padding-bottom: 15px; */
}

#progSplitNad{
margin: 0px;
font-size: 20px;
line-height: 20px;
/*! background-color: rgba(255, 255, 255, 0.8); */
}

.program-ul{
margin: 15px;
padding: initial;
}

.program-li{
font-size: 17px;
}

#druhy{
height:50vh;
}

#druhyPoz{
z-index: -1;
}

#druhyStyl{
top: 63px;
position: absolute;
left: 50%;
margin: 0px;
line-height: 35px;
}

#druhyJmeno{
    margin: 0px;
    position: absolute;
    top: 45px;
    right: 15px;
}

#druhyText{
    margin-right: 15px;
    top: 98px;
    font-size: 17px;
}

#treti{
height:50vh;
}

#tretiPoz{
z-index: -1;
}

#tretiStyl{
    top: 63px;
    position: absolute;
    right: 50%;
    margin: 0px;
    line-height: 35px;
}

#tretiJmeno{
margin: 0px;
position: absolute;
top: 45px;
left: 15px;
}

#tretiText{
    margin-left: 15px;
    top: 98px;
}

.webLinkL{
    top: 68px;
}

.webLinkR{
    top: 68px;
}

.webLinkImg{
height: 25px;   
}

.webLink500{
bottom: calc(40vh + 15px);
top: unset;
}

.line{
    height: 15vh;
}

.line_artist_detail_L{
height:85vh;
padding: 0px;
}

.line_artist_detail_R{
height:85vh;
padding: 0px;
}

.line_artist_detail_picture{
height: 40vh;

bottom: 0px;
width: 100%;
}

.line_artist_detail_info{
height: 45vh;
width: 100%;
}

.ilegum500{

    display:   inline !important;
    position: absolute !important;
    text-align: right;
    font-size: 17px !important;
    right: 15px;
}

.ilegumVic{
display: none !important;
}

#kontakty{
display: none;
position: relative;
bottom: 0px;
height: 100vh;
width: auto;
margin: 0px -8px -8px -8px;
}

.kontDiv{
display: grid;
position: absolute;
width: 100%;
height: 40%;
bottom: 0px;
grid-template-rows: auto 130px;

background-image:url("vzorek_pozadi_web.png");
background-position: center;
background-size: cover;
}

.kontInfo{
 width: 100%;
 height: 100%;
position: relative;
}

#kontMapa{
position: absolute;
height: 100%;
width: auto;
padding-left: 15px;
right: 0px;
}

#kontParNad{
position: absolute;
bottom: 100px;
height: 30px;
width: 100%;

background-color: rgba(255, 255, 255, 0.8);
}

#kontParText{
margin: 0 0 0 15px;
line-height: 30px;
}

.kontPartneri{
display: grid;
position: absolute;
width: 100%;
height: 100px;
bottom: 0px;
grid-template-columns: repeat(5, 1fr);

background-color: rgba(255, 255, 255, 0.8);
grid-template-rows: 100px;
}

.kont1Par{
text-align: center;
padding: 10px 0 10px 0;
}

.kontParObr{
width: auto;
height: 80px;
}

#D29{
padding-left: 10px;
padding-right: 10px;
}

#offcity{
height: 22px;
padding: 29px 0 29px 0;
}

#copyright{

}

#copyL{
    
}

#copyR{
    
}

}

